@{
    ViewData["Title"] = "Not Found";
}
<img src="~/media/nicks/banner.jpg" />
<h1 style="color: red">Không tìm thấy trang này</h1>
<a asp-controller="Home" asp-action="Index">Bấm để quay lại trang chủ</a>
